[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenuim = "*"
selenium = "*"
coverage = "==4.5.3"
pip = "==19.0.3"
virtualenv = "==16.4.3"
setuptools = "==40.8.0"
virtualenv-clone = "==0.5.1"
certifi = "==2019.3.9"

[requires]
python_version = "3.7"
